<h1>Listing Music</h1>
<div class="ui360">
  <a href="/all/One man rock band.mp3">One man rock band</a>
</div>
<div class="ui360">
  <a href="/all/childhood.mp3">Упадок в детство</a>
</div>
Volume:</b><input id="slide" type="range" min="1" max="100" step="1" value="50" onchange="threeSixtyPlayer.setVolume(this.value)">
<% if user_signed_in? %>
    <table>
      <tr>
        <th>name</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>


      <% @audios.each do |audio| %>
          <tr>
            <td><%= audio.name %></td>

            <% if can? :read, audio %>
                <td><%= link_to 'Show', audio %></td>
            <% end %>
            <% if can? :update, audio %>
                <td><%= link_to 'Edit', edit_audio_path(audio) %></td>
            <% end %>
            <% if can? :destroy, audio %>
                <td><%= link_to 'Destroy', audio, confirm: 'Are you sure?', method: :delete %></td>
            <% end %>

          </tr>
      <% end %>
    </table>


    <% if can? :create, Audio %>
        <%= link_to 'New Audio', new_audio_path %>
    <% end %>
<%else%>
    <h2>You must signed in or register to see music content</h2>
<% end %>